* {
    margin: 0;
    padding: 0;
    transition: 0.5s ease-in;
    font-family: century gothic;
}

.mainCont {
    width: 100vw;
    height: 100vh;
    /* display: grid; */
    place-items: center;
    overflow: scroll;

}

.imgCont {
    display: inline-table;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    margin-left: 40%;
}

img {
    border: none;
    padding: 4px;
    border-radius: 30px;
    transform: scale(0.9, 0.9);
    margin-left: 15%;
    box-shadow: 0px 0px 8px 3px rgba(184, 175, 184, 0.88);
}

img:hover,
.img:active {
    transform: scale(1, 1);
    padding: 5px;
}

.imgCont,
.mainCont::-webkit-scrollbar {
    overflow: hidden;
}

a {
    display: flex;
}

p {
    /* display: none; */
    font-size: 12px;
    padding: 4px;
    margin: 5px;
    border-radius: 12px;
    height: 60px;
    width: 220px;
    border: 1px solid black;
    overflow-wrap: break-word;
    transition: 1s ease-in;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: blue;
    word-spacing: 3px;
    text-shadow: 0px -5px 6px rgba(162, 150, 150, 1);
    border-radius: 12px;
    padding: 8px;
    border: 1px solid blue;
}

@media(max-width: 400px) {
    .imgCont {
        margin-left: 15%;
    }
}

@media(max-width: 315px) {
    .imgCont {
        margin-left: 15%;
    }

    img {
        margin-left: 12%;
    }

    p {
        margin-left: -0.2%;
        width: 210px;
        height: 50px;
        font-size: 11px;
    }

    a {
        margin-left: -2%;
        font-size: 11px;
    }
}